::ng-deep .card-country{
  &.p-card{
    background-image: url(https://purecatamphetamine.github.io/country-flag-icons/3x2/BR.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
}
